#div_sec_data {
    display: flex;
}

.flex {
    display: flex;
    width: 100%;
}

#left_sec {
    width: auto;
    flex-wrap: nowrap;
}

#left_sec {
    width: 50%;

}

#button_bar {
    display: flex;
    width: 50%;
}

#switches {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}
